.dataAccess{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100%;
    background-color: white;
    padding: 10px;

}
.paragraph{
    padding: 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.title{
    display: flex;
    align-items: center;
    font-size: 35px;
    gap: 20px;
    background-color: #2F2E2E;
    padding: 10px;
    color: white;
    border-radius: 10px;
}
.title button{
    background-color: #E95708;
    color: white;
    width: 80px;
    border: 1px solid #E95708;
    cursor: pointer;
    border-radius: 5px;
    height: 35px;
}
.title button:hover{
    background-color: white;
    border: 1px solid #585858;
    color: #585858;
    transition: 0.2s ease;
}
.item{
    display: flex;
    gap: 10px;
}
.item button{
    background-color: #585858;
    color: white;
    width: fit-content;
    border: 1px solid #585858;
    cursor: pointer;
    padding: 5px;
}
.item button:hover{
    background-color: white;
    border: 1px solid #585858;
    color: #585858;
}

@media (max-width: 800px) {
    .title{
        font-size: 30px;
    }
    .title button{
        height: 35px;
    }
}