.containerPrincipal{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #2F2E2E;
    border-radius: 10px;
}
.content{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    gap: 10px;
    color: white;
    width: 100%;
}
.content p{
    width: 100%;
}
.image{
    width: 10%;
}
.buttonDelete{
    padding: 5px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
    color: red;
    border: 1px solid white;
    width: 100%;
}
.buttonDelete:hover{
    color: white;
    background-color: red;
    transition: 0.2s ease;
    
}
