.containerPrinicipal{
    background-color: #585858;
    min-height: 58vh;
    display: flex;
    flex-direction: column;
    color: white;
    padding: 10px;
    
}
.content{
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
}
.content p {
    padding: 5px;
}
.content hr{
    margin-top: 10px;
    margin-bottom: 10px;
    
}
.title{
    width: 100%;
    text-align: center;
    padding: 10px;
    font-size: 30px;
}
.subtitle{
    font-size: 20px;
    margin-left: 20px;
    padding: 5px;
}
.list{
    margin-left: 20px;
    padding: 5px;
}