.containerPrincipal{
    background-color: #282828;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    text-align: center;
}
.containerPriceAndQuantity{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    width: 100%;
}
.quantity{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background-color: white;
    color: black;
    padding: 5px;
    border-radius: 10px;
    width: 40%;
}
.quantity span {
    width: 100%;
    cursor: pointer;
} 
.price{
    background-color: #E95708;
    color: white;
    padding: 5px;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.button{
    background-color: #E95708;
    color: white;
    padding: 8px;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    cursor: pointer;
    width: 100%;
}
.button:hover{
    background-color: white;
    color: #E95708;
    transition: 0.2s ease;
}

@media (max-width: 800px) {
    .containerPrincipal{
        width: 300px;
    }
}