.containerPrincipal{
    width: 100%;
}
.table{
    padding: 10px;
    width: 100%;
    height: 100%;
}
.containerData{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
.containerData input{
    padding: 3px;
    border: 1px solid gray;
    width: 100%;
}
.containerData select{
    padding: 3px;
    border: 1px solid gray;
    width: 100%;
}
.modalBackdrop{
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.352);
    height: 100%;
    width: 100%;
    min-height: 117.7vh;
}