.containerPrincipal{
    width: 100%;
    height: 100%;
    min-height: 58vh;
}
.table{
    padding: 10px;
    width: 100%;
    height: 100%;
}
.containerData{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
.containerData input{
    padding: 3px;
    border: 1px solid gray;
    width: 100%;
}
.containerData select{
    padding: 3px;
    border: 1px solid gray;
    width: 100%;
}
.containerData textarea{
    padding: 3px;
    border: 1px solid gray;
    width: 100%;
}
.containerDetails{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
    height: 100px;
    overflow-y: auto;
    border: 1px solid gray;
    padding: 5px;
}
.unitDetails{
    display: flex;
    width: 100%;
    justify-content: space-between;
    
}
.unitDetails input{
    width: 20px;
    height: 20px;
}
.previousImage{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    justify-content: center;
    align-items: center;
}
.modalBackdrop{
    position:fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.352);
    height: 100%;
    width: 100%;
    min-height: 117.7vh;
}