.containerPrincipal{
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    min-height: 58vh;
    min-width: fit-content; 
    
}
.link{
    color: white;
    padding: 10px;
    height: 100%;
    text-decoration: none;
    width: 100%;
    cursor: pointer;
}
.link:hover{
    background-color: gray;
    transition: 0.3s ease;
}