.containerPrincipal{
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    height: 100%;
    min-height: 58vh;
    min-width: 200px; 
}
.link{
    color: white;
    padding: 10px;
    min-height: 60px;
    text-decoration: none;
    width: 100%;
    cursor: pointer;
}
.link:hover{
    background-color: gray;
    transition: 0.3s ease;
}
.interactiveAside{
    display: none;
}

@media (max-width: 800px) {
    .containerPrincipal{
        display: none;
    }
    .interactiveAside{
        display: flex;
        width: fit-content;
        padding: 10px;
    }
    .interactiveAside span{
        cursor: pointer;
        color: #E95708;
        background-color: rgb(54, 54, 54);
        padding: 5px;
        border-radius: 5px;

    }
}