.containerPrincipal{
    width: 100%;
    height: 100%;
    min-height: 58vh;
    background-color: #585858;
    display: flex;
    gap: 20px;
    padding: 10px;
    font-size: 20px;
    display: flex;
}

@media (max-width: 800px) {
    .containerPrincipal{
        display: flex;
        flex-direction: column;
    }
}

