.containerPrincipal{
    padding: 10px;
    width: 100%;
}
.title{
    padding: 10px;
    font-size: 40px;
    color: #E95708;
    font-weight:bold;
}
.empty{
    color: white;
    font-size: 25px;
    padding: 10px;
}
.cards{
    padding: 15px;
}

@media (max-width: 800px) {
    .title{
        font-size: 30px;
    }
    .empty{
        font-size: 20px;
    }
}