.containerPrincipal{
    background-color: #2F2E2E;
    width: 300px;
    height: 250px;
    padding: 10px;
    color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    text-align: center;
}
.title{
    font-size: 30px;
    color: #E95708;
    height: 100%;
}
.location{
    height: 50%;
    font-size: 20px;
}
.buttons{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    height: 100%;
}
.buttons a{
    padding: 5px;
    background-color: #E95708;
    color: white;
    border: none;
    font-size: 15px;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
}
.buttons button:hover{
    background-color: white;
    
    color: #E95708;
    transition: 0.3s ease;
}