.containerPrincipal{
    width: 100%;
    top: 90px;
    left: 0;
    background-color: white;
    color: gray;
    padding: 10px;
}
.containerPrincipal p{
    width: 100%;
    padding: 5px;
}
.containerPrincipal p:hover{
    background-color: gray;
    color: white;
}
.containerPrincipal input{
    padding: 5px;
    width: 100%;
}
.button{
    background-color: red;
    color: white;
    width: 100%;
    padding: 5px;
    border: none;
}