.home{
    width: 100%;
    height: 100%;
    min-height: 58vh;
    padding: 10px;
    background-color: #585858;
}
.billboard{
    display: flex;
    margin-bottom: 30px;
}
.carrusel{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 20px;
}
.image{
    background-color: #2F2E2E;
    padding: 10px;
    width: 80%;
    animation: fade 0.5s ease-in-out;
    border-radius: 10px;
}
.imageResponsive{
    display: none;
}
.arrows{
    display: flex;
    gap: 100px;
    background-color: #2F2E2E;
    padding: 10px;
    border-radius: 20px;
    
}
.arrows span{
    
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E95708;
    font-size: 40px;
    cursor: pointer;
}
.title{
    background-color: #2F2E2E;
    width: fit-content;
    padding: 10px;
    border-radius: 20px;
    font-size:25px;
    color: #E95708;
    font-weight: bold;
}
.cards{
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
}
.emptyPromotions{
    color: white;
    font-size: 25px;
    padding: 10px;
}

@keyframes fade {
    from{
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media (max-width: 800px) {
    .image{
        width: 100%;
    }
    .carrusel{
        padding: 0;
        margin-bottom: 10px;
    }
    .title{
        font-size: 20px;
    }
    .emptyPromotions{
        font-size: 15px;
    }
}
