.containerPrincipal{
    width: 100%;
    background-color: #585858;
}
.title{
    padding: 10px;
    width: 100%;
    text-align: center;
    color: white;
}
.addButton{
    width: 100%;
    padding: 10px;
}