.containerPrincipal{
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}
.item{
    border: 1px solid;
    padding: 5px;
    display: flex;
    cursor: pointer;
    justify-content: space-between;
}
.item:hover{
    background-color: gray;
    transition: 0.2s ease;
}