.tableWrapper {
    width: 100%;
    overflow-x: auto;
    max-width: 100%;
}
.table {
    width: 100%;
    min-width: 600px; /* evita que se aplaste demasiado */
    background-color: rgb(62, 62, 62);
    color: white;
    border-collapse: collapse;
    border-radius: 10px;
}

.column{
    width: fit-content;
    padding: 5px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;
}
.value{
    text-align: center;
    padding: 5px;
    overflow-x: auto;
    max-width: 250px;
}