.containerPrincipal{
    display: flex;
    padding: 10px;
    align-items: center;
    width: 100%;
    height: 12vh;
    background-color: #444444;
    color: white;
    overflow-x: hidden;
    z-index: 3;
}
.containerPrincipal h1{
    padding: 10px;
    font-size: 35px;
    color: #E95708;
    font-weight: bolder;
    width: 20%;
    cursor: pointer;
}
.items{
    display: flex;
    padding: 10px;
    width: 50%;
    
}
.items p{
    width: 100%;
    text-align: center;
    padding: 5px;
}
.items p:hover{
    background-color: #737373;
    cursor: pointer;
}
.search{
    padding: 10px;
    display: flex;
    gap: 5px;
    width: 20%;
}
.search input{
    background-color: white;
    color: black;
    padding: 2px;
    border: none;
    outline: none;
}
.containerAccount{
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.containerAccount span{
    cursor: pointer;
}
.viewResponsive{
    display: none;
}
.ItemsResponsive{
    position: absolute;
    height: 89%;
    width: 100%;
    top: 90px;
    background-color: rgba(0, 0, 0, 0.552);
}

@media (max-width: 800px) {
    .items,
    .search,
    .containerAccount{
        display: none;
    }
    .viewResponsive{
        display: flex;
        width: 50%;
        justify-content: center;
        align-items: center;
    }
    .viewResponsive span{
        font-size: 30px;
    }
    .containerPrincipal h1{
        width: 100%;
        font-size: 40px;
    }
}