.containerPrincipal{
    background-color: #585858;
    min-height: 58vh;
    display: flex;
    flex-direction: column;
}
.containerInformation{
    display: flex;
    width: 100%;
    padding: 10px;
    justify-content: space-around;
}
.information{
    display: flex;
    flex-direction: column;
    width: 50%;
    color: white;
    gap: 20px;
}
.title{
    font-size: 30px;
    text-align: center;
}
.description{
    font-size: 20px;
}
.image{
    padding: 20px;
    width: fit-content;
    margin-left: 150px;
}

@media (max-width: 800px) {
    .containerInformation{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 20px;
    }
    .information{
        gap: 20px;
        width: 100%;
    }
    .image{
        margin:0;
    }
}