.containerPrincipal{
    width: 100%;
    height: 100%;
    min-height: 58vh;
    background-color: #585858;
    display: flex;
    gap: 20px;
    padding: 10px;
    font-size: 20px;
    display: flex;
}
.modalBackdrop{
    position:fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.352);
    height: 100%;
    width: 100%;
    min-height: 117.7vh;
}

@media (max-width: 800px) {
    .containerPrincipal{
        display: flex;
        flex-direction: column;
    }
}

