.containerPrincipal{
    display: flex;
    flex-direction: column;
    gap: 50px;
    background-color: #585858;
    width: 100%;
    height: 100%;
    min-height: 58vh;
    
}
.title{
    width: 100%;
    background-color: #2F2E2E;
    color: #E95708;
    padding: 10px;
    font-size: 40px;
    padding-left: 30px;
    font-weight: 600;
}