.containerPrincipal{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    min-height: 100vh;
    min-width: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.link{
    color: white;
    padding: 10px;
    height: 100%;
    text-decoration: none;
    width: 100%;
    cursor: pointer;
    font-size: 20px;
}
.link:hover{
    background-color: gray;
    transition: 0.3s ease;
}
.button{
    background-color: red;
    color: white;
    padding: 5px;
    font-size: 25px;
}