.containerPrincipal{
    background-color: #282828;
    display: flex;
    gap: 20px;
    color: white;
    padding: 20px;
    height: 30vh;
    overflow-x: hidden;
}
.title{
    font-size: 35px;
    color: #E95708;
    font-weight: bolder;
}
.column{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    padding: 10px;
}
.subtitle{
    font-size: 25px;
}
.social{
    display: flex;
    padding: 5px;
    align-items: center;
    gap: 10px
}
.social span{
    font-size: 20px;
}
.link{
    color: white;
    text-decoration: none;
}

@media (max-width: 800px){
    .containerPrincipal{
        display: flex;
        flex-direction: column;
    }
}