.containerPrincipal{
    width: 100%;
    padding: 10px;
    text-align: center;
}
.title{
    padding: 10px;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 35px;
}
.button{
    padding: 5px;
    background-color: white;
    border: none;
    font-size: 15px;
    border-radius: 5px;
    cursor: pointer;
}
.button:hover{
    background-color: #E95708;
    transition: 0.3s ease;
    color: white;
}