.containerPrincipal{
    background-color: #585858;
    height: 100%;
    width: 100%;
    min-height: 58vh;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}
.title{
    width: 100%;
    text-align: center;
    padding: 20px;
    font-size: 50px;
    font-weight: bold;
}
.form{
    width: 500px;
}
.data{
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 10px;

}
.data p{
    font-size: 30px;
    padding: 10px;
}
.data input{
    padding: 10px;
    width: 100%;
    outline: none;
}
.button{
    padding: 10px;
    text-align: center;
}
.button button{
    padding: 10px;
    background-color: #E95708;
    color: white;
    border: none;
    font-size: 20px;
    border-radius: 5px;
}
.button button:hover{
    background-color: white;
    color: #E95708;
    cursor: pointer;
    transition: 0.2s ease;
}