.data{
    background-color: white;
    width: 100%;
    min-width: 25vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    gap: 20px;
    font-size: 25px;
}
.user{
    font-size: 20px;
    background-color: #2F2E2E;
    border-radius: 10px;
    color: #E95708;
    padding: 10px;
    font-weight: bold;
}
.data button{
    font-size: 25px;
    background-color: #585858;
    color: white;
    padding: 10px;
    border: 2px solid #585858;
    cursor: pointer;
}
.data button:hover{
    background-color: white;
    color: #585858;
    transition: 0.3s ease;
}